/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*Drawer Button Style afficher ,nouvelle*/
.DrawerButtons{
	-fx-text-fill: Black ;
	-fx-font-family: 'Helvetica Neue';
  	-fx-border-color: grey;
  	-fx-border-width: 0.1 0.0 0.1 0 ;
  	-fx-effect: innershadow(gaussian, black, 15, 0, 0, 0);
}

.DrawerButtons:hover{
-fx-effect:dropshadow(gaussian,black, 8.0, 0.0, 0.0, 0.0);
-fx-background-color: gray ;
}

.DrawerButtons:pressed{
	-fx-text-fill: Black ;
	-fx-font-family: 'Helvetica Neue';
  	-fx-border-color: grey;
  	-fx-border-width: 0.1 0.0 0.1 0 ;
  	-fx-effect: innershadow(gaussian, black, 15, 0, 0, 0);
}