/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*Drawer Button Style afficher ,nouvelle*/
.DrawerButtons{
	-fx-text-fill: Black ;
	-fx-font-family: 'Helvetica Neue';
  	-fx-border-color: grey;
  	-fx-border-width: 0.1 0.0 0.1 0.0 ;
  	-fx-effect: innershadow(gaussian, black, 15.0, 0.0, 0.0, 0.0);
}

.DrawerButtons:hover{
-fx-effect:dropshadow(gaussian,black, 8.0, 0.0, 0.0, 0.0);
-fx-background-color: #64B5F6 ;
-fx-text-fill: white ;
}

.DrawerButtons:pressed{
	-fx-effect:dropshadow(gaussian,black, 8.0, 0.0, 0.0, 0.0);
	-fx-background-color: #1E88E5 ;
	-fx-text-fill: white ;
}
#title{
	 		-fx-color: #c9d0d4;
		 -fx-font-family: 'Helvetica Neue';
		 -fx-font-size: 30px; 
		 -fx-font-weight: bold;
		 -fx-alignment: center-left ;
}
.hint{
	-fx-opacity: 0;
	-fx-text-fill: white ;
	-fx-background-color: #CA2E2F ;
	-fx-background-radius: 15 3 3 0;
	-fx-border-radius: 15 3 3 0;
	-fx-border-color: red ;
	-fx-effect:dropshadow(gaussian, red, 8, 0, 0, 0);
}